:root {
  --clr-primary-100: hsl(225, 100%, 94%);
  --clr-primary-200: hsl(245, 75%, 52%);

  --clr-neutral-100: hsl(225, 100%, 98%);
  --clr-neutral-200: hsl(224, 23%, 55%);
  --clr-neutral-300: hsl(223, 47%, 23%);

  --ff-primary-100: "Red Hat Display", sans-serif;

  --fw-light: 400;
  --fw-regular: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}
